
*{
    padding: 0;
    margin: 0;
}

#game {
    width: 5000px;
    height: 700px;
    border: 1px solid black;
    margin: auto;
    margin-top: 80px;
}
#character {
    width: 60px;
    height: 110px;
    background-color: darkcyan;
    position: relative;
    top: 450px;
    z-index: 100;
}
#grass {
    position: relative;
    width: 100%;
    height: 50px;
    top: 450px;
    background-color: rgb(66, 114, 60);
}
#soil {
    position: relative;
    width: 100%;
    height: 90px;
    top: 450px;
    background-color: rgb(177, 125, 116);
}