body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#page-mask {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
}

/*Nav*/
.social-media-icon {
  width: 2.7em;
  padding-left: 5px;
  padding-right: 5px;
}
#insta-nav {
  width: 2.55em;
}
.blur {
  background: rgba(255, 255, 255, 0);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
  font-weight: bold;
}
#logo {
  /* color: #577a75 !important; */
  color: rgba(255, 255, 255, 0.75);
  font-weight: bold;
}

/*Header*/
#headerBackground {
  background-image: url("../Images/foggy_hills_background.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: revert;
}
#headerBox {
  background: rgba(0, 0, 0, 0.85);
  height: 30vh;
  margin-top: 34vh;
}
#headerName {
  position: absolute;
  /* color: #577a75; */
  color: rgba(255, 255, 255, 0.75);
  font-size: 6vw;
  margin-left: 4.1em;
  top: 75%;
  left: 51%;
  transform: translate(-50%, -50%);
}
#headerPic {
  margin-left: 8vw;
  border-style: solid;
  border-width: 2em;
  border-color: rgba(255, 255, 255, 0.7);
}

/*----------------*/

/*About Me*/
#about-me-pic {
  text-align: center;
  margin-bottom: 2em;
  padding: 0;
  border-radius: 50%;
  box-shadow: 5px 5px 5px;
}
#about-container {
  background-color: #577a75;
  padding-top: 3em;
  padding-right: 0;
  padding-left: 0;
}
#aboutMeParContainer {
  background-color: #a8bebb;
  padding: 1em;
  padding-bottom: 0.5em;
  border-style: solid;
  border-color: rgba(197, 197, 197, 0.767);
  border-radius: 15px;
  margin-bottom: 2.5em;
  box-shadow: 5px 5px 5px;
}
.accordion-item {
  border: none;
  border-radius: 0;
}
.accordion-body {
  padding: 0em;
  background-color: #577a75;
}
.accordion-body .col {
  padding-top: 1em;
  padding-bottom: 2em;
}
.accordion-button:not(.collapsed) {
  color: black;
  background-color: #a6b6b4;
  text-align: center;
  padding-left: 40%;
  padding-right: 40%;
}
#carouselRow {
  padding-bottom: 2em;
}
.carousel-image {
  object-fit: contain;
  width: 100%;
  height: inherit;
}
.carousel-item.active {
  height: inherit;
  text-align: center;
}
.carousel-header {
  text-align: center;
}
.carousel-inner {
  border-radius: 5%;
  box-shadow: 5px 5px 5px;
  height: 100%;
  /* min-height: 330px; */
}
#carouselClimbing {
  margin-left: 2em;
}
#carouselBlender {
  margin-left: 1em;
  margin-right: 1em;
}
#carouselPets {
  margin-right: 2em;
}

.hobby-icon {
  width: 2em;
  display: inline;
}

/*----------------*/

/*Projects*/
.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}
.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}
.portfolio-item .caption .caption-content h2,
.portfolio-item .caption .caption-content .h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}
.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}
@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    /*margin: 0;*/
  }
  .portfolio-item .caption {
    transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, background-color 0.7s;
    transition: clip-path 0.25s ease-out, background-color 0.7s,
      -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .portfolio-item img {
    transition: -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: rgba(29, 128, 159, 0.9);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }

  /*Blur Effect*/
  .is-blurred {
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }

  /* Modals */
  .modal-header {
    padding: 2em;
  }
  .modal {
    margin-top: 15%;
  }
  .modal-dialog {
    max-width: 50%;
  }
  .modal-body {
    padding: 2em;
  }

  /*----------------*/

  /*Resume*/
  #resume {
    width: 60%;
    text-align: center;
  }

  /* Contact */
  #contact {
    margin-top: 4em;
  }
  #contact-form {
    margin-top: 4em;
  }
}

/* Gif */
#catGif {
  width: 6%;
  transition: opacity 1000ms linear, transform 4000ms linear 500ms;
}
#catGif.fade {
  opacity: 0;
}
#gifClickMe {
  color: white;
  margin-left: 1em;
  padding-bottom: 1em;
  font-size: 1vw;
  font-family: cursive;
}

/* Pet Page */
#petPageBackground {
  position: fixed;
  background-color: #606c81;
  z-index: 1070;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: -100%;
  transition: transform 3000ms linear 1000ms;
}
#petList {
  margin-top: 5em;
}

#btnPetClose {
  float: right;
  color: red;
  background-color: black;
  font-size: xx-large;
  opacity: 0;
  transition: opacity 500ms linear 500ms;
  border-style: inset;
  border-radius: 5px 5px 5px;
  margin-right: 0.5em;
  margin-top: 0.5em;
}
#btnPetClose:hover {
  border-style: none;
}

#btnPetReopen {
  position: fixed;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 100%;
  display: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  bottom: 5em;
}
#petReopenCatIcon {
  width: 3em;
}

/*---------------------------------------------*/

/* For Mobile */
@media screen and (max-width: 767px) {
  /* Nav */
  #navLinks {
    margin-bottom: -2.3em;
  }
  #navLinks .nav-item {
    margin-right: 2em;
  }
  #navSocials {
    position: relative;
  }
  #navbarNav {
  }
  .navbar-collapse.collapse.show {
    /* background-color: rgba(255, 255, 255, 1); */
  }

  /* Header */
  #headerBox {
    margin-top: 50vh;
    height: 25vh;
  }
  #headerName {
    position: relative;
    margin-left: -4vw;
    top: -50vh;
    font-size: 9vh;
  }
  .offset-5 {
    margin-left: 0;
  }
  #headerPic {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    border-width: 1em;
  }

  /* About */
  #carouselClimbing {
    margin-left: 0;
    margin-bottom: 2em;
  }
  #carouselBlender {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2em;
  }
  #carouselPets {
    margin-right: 0;
  }
  #carouselRow .col {
    margin-right: auto;
    margin-left: auto;
  }
  .offset {
    margin-left: auto;
    margin-right: auto;
  }

  /* Resume */
  #resume {
    width: 94vw;
  }

  /* Contact */
  #contact-form {
    width: 80% !important;
  }

  /* Gif */
  #catGif {
    width: 25%;
  }
  #gifClickMe {
    font-size: 4vw;
  }
}

/* For Tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Nav */
  #navLinks .nav-item {
    margin-right: 2em;
  }
  #navSocials {
    position: relative;
    top: -2.3em;
  }
  #navContainer {
    margin-bottom: -2.3em;
  }

  /* Header */
  #headerBox {
    margin-top: 50vh;
    height: 25vh;
  }
  #headerName {
    position: relative;
    margin-left: -4vw;
    top: -50vh;
    font-size: 9vh;
  }
  .offset-5 {
    margin-left: 0;
  }
  #headerPic {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    border-width: 1em;
  }

  /* About */
  #carouselClimbing {
    margin-left: 0;
    margin-bottom: 2em;
  }
  #carouselBlender {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2em;
  }
  #carouselPets {
    margin-right: 0;
  }
  #carouselRow .col {
    margin-right: auto;
    margin-left: auto;
  }
  .offset {
    margin-left: auto;
    margin-right: auto;
  }

  /* Resume */
  #resume {
    width: 94vw;
  }

  /* Contact */
  #contact-form {
    width: 80% !important;
  }
}
