body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Nav*/
.blur {
  background: rgba(255, 255, 255, 0.41);
}

/*Header*/
#headerBackground {
  background-image: url("../Images/foggy_hills_background.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
#headerBox {
  background: rgba(0, 0, 0, 0.85);
  height: 45em;
  margin-top: 6em;
  /*margin-left: 3em;*/
}
#headerStyleBlock {
  height: 51em;
  width: 3em;
  background-color: #1c2b45;
  margin-top: 3em;
  margin-left: 2em;
}
#headerName {
  position: absolute;
  left: 5.5em;
  top: 1.3em;
  color: #577a75;
  font-size: 10em;
}
#headerPic {
  width: 40rem;
  margin-left: 4rem;
}
