/* Pet Page */
#petPageBackground {
  position: fixed;
  background-color: #606c81;
  z-index: 1070;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: -100%;
  transition: transform 3000ms linear 1000ms;
}
#petList {
  margin-top: 5em;
}

#btnPetClose {
  float: right;
  color: red;
  background-color: #858e9d;
  font-size: xx-large;
  opacity: 0;
  transition: opacity 500ms linear 500ms;
  border-style: none;
  border-radius: 5px 5px 5px;
  margin-right: 0.5em;
  margin-top: 0.5em;
}
#btnPetClose:hover {
  background-color: #2e394d;
}

#btnPetReopen {
  position: fixed;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 100%;
  display: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  bottom: 5em;
}
#petReopenCatIcon {
  width: 3em;
}

.petNav a {
  color: white !important;
}
.petNav .col-3 {
  text-align: center;
}
